h1 {
  margin-bottom: 0;
}

.btn-ghost {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  text-decoration: none;
}

.btn-ghost:hover {
  background-color: #000;
  color: #fff;
}


.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  background-color: #999;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 15em;
  z-index: 1;
}

.nav li {
  display: block;
}

.nav a {
  color: #fff;
  font-family: "Lato", sans-serif;
  display: block;
  padding: 0.5em 0.75em;
  background-color: #666;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.75s;
  transition-timing-function: linear;
}

.nav a:hover {
  background-color: #000;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -10em;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 40px;
  position: absolute;
  right: 0;
  bottom: -1.3rem;
  margin: 0 1.3rem 0 0;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: #ccc;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  background-color: #ccc;
  border-radius: 8px;
}

.img-store {
  width: 100%;
}

.img {
  width: 100%;
}
