h1 {
  margin-bottom: 0;
}

.btn-ghost {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
}

.btn-ghost:hover {
  background-color: #000;
  color: #fff;
}

.logo {
  width: 30%;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  background-color: #ccc;
  border-radius: 8px;
}
